<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.yubi_backend.mapper.ChartMapper">

    <resultMap id="BaseResultMap" type="com.yupi.yubi_backend.model.entity.Chart">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="goal" column="goal" jdbcType="VARCHAR"/>
            <result property="chartName" column="chartName" jdbcType="VARCHAR"/>
            <result property="chartData" column="chartData" jdbcType="VARCHAR"/>
            <result property="chartType" column="chartType" jdbcType="VARCHAR"/>
            <result property="genChart" column="genChart" jdbcType="VARCHAR"/>
            <result property="genResult" column="genResult" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="execMessage" column="execMessage" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goal,chartName,
        chartData,chartType,genChart,
        genResult,status,execMessage,
        userId,createTime,updateTime,
        isDelete
    </sql>


    <update id="createChartTable">
        create table if  not exists chart_#{chartId}(
            id bigint primary key auto_increment comment 'id',
            <foreach collection="colList" item="column" separator=",">
                <if test="column.columnName != null and column.columnName != '' and column.columnType != null and column.columnType != ''">
                    `${column.columnName}` ${column.columnType}
                </if>
            </foreach>
        )comment '${chartId}图表原始数据' collate = utf8mb4_unicode_ci;
    </update>


    <insert id="insertBatchChart" parameterType="list">
        insert into chart_#{chartId}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <foreach collection="columns" item="column" separator=",">
                ${column}
            </foreach>
        </trim>
        VALUES
        <foreach collection="data" item="item" separator=",">
            (
            <foreach collection="item.entrySet()" item="entry" separator=",">
                #{entry.value}
            </foreach>
            )
        </foreach>

    </insert>


</mapper>
